body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 14px;
}

#cy {
    position: absolute;
    left: 20%;
    top: 80;
    bottom: 20;
    right: 20;
    z-index: 999;
    border-radius: 1px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

h4 {
    margin-left: 10;
    opacity: 0.5;
    font-size: 1.15em;
    font-weight: bold;
}

#menuSection {
    margin-left: 0;
}

#menu {
    position: absolute;
    top: 32;
    left: 10;
    width: 18%;
    height: 100%;
    z-index: 999;
    float: left;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 10px from the top */
    padding-bottom: 10px
}

#optionsMenu {
    position: absolute;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 999;
    float: left;
    background-color: #b7ffff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 10px from the top */
    padding-bottom: 10px
}

#shapeInputField {
  position: relative;
  top: 30%;
  margin: 10px;
  z-index: 999;
}

#drawingCanvas {
    display: flexbox;
    margin-bottom: 5px;
    cursor: crosshair;
    border-radius: 2px;
    border-width: 2px;
    border-color: #555555;
    border-style: solid;
    max-width: 100%;
}

#buttonsMenu {
    position: absolute;
    display: inline; 
    left: 20%;
    width: 79%;
    z-index: 999;
    float: left;
    margin-left: -10px;
}

table {
    width: 95%;
    position: absolute;
    margin-left: 4px;
    margin-right: auto;
    table-layout: fixed;
}

table thead {
    padding: 0px 8px 12px 6px;
    text-decoration: none;
    font-size: 15px;
    color: #555;
    transition: 0.3s;
    float: left;
}

table td {
    padding: 0px 8px 8px 8px;
    text-decoration: none;
    font-size: 13px;
    color: #555;
    transition: 0.3s;
    vertical-align: middle;
}

#layoutButton {
    margin-left: 10px;
}

#randomize {
    vertical-align: top;
}

#samples {
    margin-right: 15px;
}

.form-control-sm { 
    font-size: 13px
}

.custom-select-sm {
    font-size: 13px
}

.custom-control-label {
    padding-top: 2px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #7d8991;
    background-color: #7d8991;
} 

hr.line {
    margin-top: 9px;
    margin-bottom: 9px
}