body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 14px;
}

#cy {
    position: absolute;
    left: 20;
    top: 70;
    bottom: 20;
    right: 20;
    z-index: 999;
    border-radius: 1px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

h1 {
    margin-left: 10;
    opacity: 0.5;
    font-size: 1.15em;
    font-weight: bold;
}

#menuSection {
    margin-left: 10;
}

#optionsMenu {
    position: absolute;
    top: 65;
    left: 10;
    width: 18%;
    bottom: 20;
    z-index: 999;
    border-radius: 1px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

#layoutButton {
    margin-right: 10px;
}

#randomize {
    vertical-align: top;
}

#samples {
    margin-right: 15px;
}